/*------------------global----------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
html {
  font-family: circular std, sans-serif;
  font-weight: 100;
}
body {
  width: 60%;
  margin: auto;
  background-image: url(images/bg.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-size: 40px;
  font-weight: 400;
  color: #17191A;
}
h2 {
  font-size: 35px;
  font-weight: 400;
  color: #17191A;
}
h5 {
  font-size: 20px;
  margin-top: 10px;
  color: #17191A;
}
p {
  color: #8F9EA5;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 100;
  margin-top: 10px;
}

/*--------------nav-----------*/

.nav {
  display: flex;
  align-items: center;
  height: 100px;
}
.contactMe, .navIcons {
  flex: 1;
}
.navIcons {
  text-align: right;
}
.navIcons a, .contactMe a, .contactMe img, .navIcons img {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.navIcons a {
  margin-left: 40px;
}
.contactMe a {
  color: #027BFF;
  text-decoration: none;
}
.contactMe img {
  margin-right: 10px;
}

/*----------landing----------*/

.landing {
  height: 100vh;
  position: relative;
}
.landingWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
ul {
  list-style: none;
  margin-top: 30px;
  line-height: 30px;
}
.landingL {
  margin-top: 4em;
}
.landingR {
  border-radius: 20%;
}
.scroll {
  position: absolute;
  bottom: 180;
  left: 0;
  right: 0;
  margin: auto;
}

/*-----------skills----------*/

.skills {
  text-align: center;
  margin-bottom: 20em;
}
.skills p {
  margin-bottom: 30px;
}
.skills img {
  width: 40px;
  margin: 0 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-----------work 01----------*/

.work {
  width: 100%;
  position: relative;
  margin-bottom: 20em;
}
.work > .workText {
  position: absolute;
  top: 85px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.work > .workText > .underline {
  display: block;
  background-color: #027BFF;
  height: 3px;
  width: 61px;
  margin-top: 5px;
}
.work > .workImg {
  width: 85%;
  float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.work ul {
  position: absolute;
  bottom: 0;
  right: 86%;
}
.work ul li {
  margin-top: 20px;
}

/*-----------work 02-------------*/

.work2 {
  width: 100%;
  position: relative;
  margin-bottom: 20em;
}
.work2 > .workText {
  position: absolute;
  top: 85px;
  right: 0;
  text-align: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.work2 > .workText > .underline {
  display: block;
  background-color: #027BFF;
  height: 3px;
  width: 61px;
  margin-top: 5px;
  float: right;
}
.work2 > .workImg {
  width: 85%;
  float: left; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.work2 ul {
  position: absolute;
  bottom: 0;
  left: 86%;
}
.work2 ul li {
  margin-top: 20px;
}

/*--------work 01 & 02----------*/

.work a, .work2 a {
  text-decoration: none;
  color: #17191A;
}



















